// Place all the styles related to the AudioClips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.audiojs {
  background-color: black;
  background-image: none;

  .time {
    .played {
      color: $band-color;
    }
  }

  .progress {
    border-radius: 0px;
    background-image: none;
    background-color: $band-color;
  }

  .loaded {
    background-image: none;
    background-color: white;
  }

  .play {
    background-image: image-url('player-graphics.gif');
    background-position: -8px 0px;
  }

  .pause {
    background-image: image-url('player-graphics.gif');
    background-position: -8px -90px;
  }
}

.clip {
  margin-bottom: 10px;
}

.set-clip-time {
  transition: color 0.3s;
  font-weight: bold;
  &:hover {
    color: $band-color;
  }
  cursor: pointer;
}
