// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  color: #444;
}

.link-section {
  display: inline-block;
  padding-bottom: 20px;
  margin-bottom: -20px;
  position: relative;
  &:hover {
    .control {
      opacity: 1;
    }
  }
  a, a:hover, a:active {
    text-decoration: none;
    color: white;
  }
  transition: all 0.3s;
  &.active {
    .control {
      background-color: #000;
      box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
      opacity: 1;
    }
    z-index: 100;
    .band-name {
      box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
      background-color: red;
      padding: 5px 15px;
      background-color: $band-color;
      outline: 0;
    }
  }
  .control {
    transition: all 0.3s;
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block;
    background-color: #AAA;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 2px 3px;
    opacity: 0;
    font-size: small;
    &:hover {
      opacity: 1;
      background-color: $band-color;
    }
  }
}

#bg {

  // so if user scrolls it doesn't matter
  position: fixed; 
  background-color: black;
  // expand to height & width
  height: 100%;
  width: 100%;
  margin: 0;
  padding:0;

  // hidden initially
  z-index: -130;
  &.active {
    z-index: 30;
  }
  // pointer-events: none;
  opacity: 0;
}


.placeholder:before {
  content: "Edit Lyrics..."; /* this is where you assign the place holder */
  color: #a9a9a9;
}

.lyrics-container {
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;
  background-color: white;
  outline: 0;

  .control {
    transition: all 0.3s;
    position: relative;
    top: 6px;
    display: inline-block;
    background-color: #AAA;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 0 3px;
    opacity: 0;
    font-size: small;
    &:hover {
      opacity: 1;
      background-color: $band-color;
    }
  }

  &:hover{
    .control {
      opacity: 1;
    }
  }

  // &:before {
  //   position: absolute;
  //   top: 5px;
  //   right: 5px;
  //   opacity: 0;
  //   background-color: black;
  //   color: white;
  //   padding: 0 3px;
  //   transition: all 0.2s;
  //   font-size: small;
  //   content: "CMD-Enter"
  // }
  //
  &.active {
    // &:before {
    //   opacity: 0.5;
    // }
    .control {
      opacity: 1;
    }
    z-index: 100;
    transform: translateY(10px);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    padding: 10px;
    padding-bottom: 15px;
    margin: -10px;
  }
}


.lyrics {
  color: #444;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translateZ(100);
  margin-top: 2px;
  position: relative;
  &:focus {
    outline: none;
  }
  font-size: large;
  line-height: 25px;
  font-weight: normal;
  div {
    margin-top: 10px;
  }
  div:first-child {
  }
  font-size: 20px;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.phrase {
  margin: 0 5px 0 0;
  font-style: bold;
}


